<%= form_with(model: @question, local: true) do |f| %>
  <div class="field">
    <%= f.label :title, "問題の名称" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content, "設問" %><br />
    <%= f.text_area :content, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :option1, "選択肢1" %><br />
    <%= f.text_area :option1 %>
  </div>

  <div class="field">
    <%= f.label :option2, "選択肢2" %><br />
    <%= f.text_area :option2 %>
  </div>

  <div class="field">
    <%= f.label :option3, "選択肢3" %><br />
    <%= f.text_area :option3 %>
  </div>

  <div class="field">
    <%= f.label :option4, "選択肢4" %><br />
    <%= f.text_area :option4 %>
  </div>

  <div class="field">
    <%= f.label :answer, "解答" %><br />
    <%= f.text_area :answer %>
  </div>

  <div class="field">
    <%= f.label :commentary, "解説" %><br />
    <%= f.text_area :commentary %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>

<% end %>