<!DOCTYPE html>
<html>
  <head>
    <title>ProgrammingPractice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>

    <header class="header">
      <div class="heading">
        <h1 class="title">
            <%= link_to "Programming Practice", root_path, class: :nav__btn %>
        </h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists">

    <%# ログインしているときは以下を表示する %>
      <% if user_signed_in? %>
      <div class="greeting">
        <%= "ようこそ、" %>
        <%= link_to "#{current_user.nickname}さん", class: :greeting__link%>
        <%= link_to "#{current_user.nickname}さん", "/users/#{current_user.id}", class: :greeting__link%>
      </div>
      <% end %>
    <%# // ログインしているときは上記を表示する %>

        <% if user_signed_in? %>
          <div class="user_nav grid-6">

              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout %>
            <%= link_to "Practice", questions_index2_path, class: :nav__btn %>
            <%= link_to "New Practice", new_question_path, class: :nav__btn %>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "Log in", new_user_session_path, class: :nav__btn %>
            <%= link_to "Sign up", new_user_registration_path, class: :nav__btn %>
          </div>
        <% end %>        
        </ul>
      </div>
    </header>

    <%= yield %>
  </body>
    <footer class="footer">
  <p>Copyright(C) Programming Practice ALL RIGHTS RESERVED.</p>
</footer>
  
</html>
